.strike {
  text-decoration: line-through;
}

.sidebar-tree .current > .reference {
  background: none;
}

.sidebar-tree .current-page > .reference {
  background: var(--color-sidebar-item-background--current);
  font-weight: normal;
}

a.sidebar-brand {
  padding: 2rem 0rem;
  padding-right: 1rem;
}

.sidebar-logo {
  max-width: 120%;
  float: right;
}

.announcement-content {
  font-size: 0.8rem;
}

/* Removes empty space below blocks of code in tabs */
.sphinx-tabs-panel div[class^="highlight"] {
  margin-bottom: 0;
  margin-top: 0;
}

.sphinx-tabs-tab {
  line-height: 6px;
  border-radius: 0;
}

.sphinx-tabs-panel {
  padding: 0.4em;
}

figcaption {
  text-align: left;
}

h1 {
  font-size: 2.0em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

div[class^="highlight"] {
  background: #eeffcc;
  /*border: 1px solid #e1e4e5;*/
}

.bg-ok {
  background-color: #2ecc71;
  color: white;
}

.bg-bok {
  background-color: #b8e994;
  color: white;
}

.bg-nok {
  background-color: #e55039;
  color: white;
}

.bg-noa { /* noa: "not available" */
  background-color: #DDDDDD;
  color: gray;
}

.medskip {
  color: transparent; /* make the text invisible */
  user-select: none; /* prevent selection of the text */
}

td:has(.bg-ok) {
  background-color: #2ecc71;
}

td:has(.bg-bok) {
  background-color: #b8e994;
}

td:has(.bg-nok) {
  background-color: #e55039;
}

td:has(.bg-noa) { /* noa: "not available" */
  background-color: #DDDDDD;
}

td:has(.medskip) {
  min-width: 120px;
}

.cpp + .sphinx-tabs::before { /* for examples following a Doxygen block */
  content: "Example of use:";
  display: block;
  margin-bottom: 0.5rem;
  font-size: var(--font-size--small);
  text-transform: uppercase;
}

.cpp + .sphinx-tabs { /* for examples following a Doxygen block */
  margin-left: calc(10px + 2rem);
}

.cpp + .sphinx-tabs + figure { /* for figures following examples following a Doxygen block */
  margin-left: calc(10px + 2rem);
}

.math-wrapper { /* removing centering of equations */
  overflow-x: visible;
}

h1 + blockquote { /* for displaying main authors */
  margin: .1rem .5rem 1rem 1rem;
}

h1 + blockquote div p { /* for displaying main authors */
  margin: 0;
  font-size: small;
}

article .align-default {
  text-align: left;
}

article .align-centered {
  text-align: center;
}

dl.cpp:not(dl.cpp dl.cpp) { /* for displaying a border on doxygen blocks */
  border-left: 5px solid var(--color-background-border);
  padding-left: 5px;
}

#how-to-cite-codac pre {
  font-size: 60%;
}

a .download:before {
  content: "⬇️ ";
}

.toggle-hidden .sphinx-tabs-panel {
  background-color: #AAFFBF;
}

.toggle-hidden .sphinx-tabs-panel, .toggle-hidden [aria-selected="true"] {
  background-color: #AAFFBF;
  border-bottom: 1px solid #AAFFBF;
}

.reveal-bg { /* displays a checkerboard background to reveal transparency effects */
  --size: 12px;

  background-color: #eee;
  background-image:
      linear-gradient(45deg, #ddd 25%, transparent 25%),
      linear-gradient(-45deg, #ddd 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #ddd 75%),
      linear-gradient(-45deg, transparent 75%, #ddd 75%);
  background-size: var(--size) var(--size);
  background-position: 0 0, 0 calc(var(--size)/2), calc(var(--size)/2) calc(var(--size)/-2), calc(var(--size)/-2) 0;
}